body { padding-bottom: 70px; }
label { padding-left: 15px; padding-right: 15px; }
.dot {
    height: 10px;
    width: 10px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
}